@import url('https://fonts.googleapis.com/css?family=Secular%20One:700|Secular%20One:400');
@import "tailwindcss";

:root[data-theme="light"] {
    --text: #0c1d22;
    --background: #f4f9fa;
    --primary: #245160;
    --secondary: #bd89d2;
    --accent: #a63f97;
    --green: #00b069;
    --font-secular: 'Secular One', sans-serif;
}

:root[data-theme="dark"] {
    --text: #dcedf2;
    --background: #041010;
    --primary: #9ecbda;
    --secondary: #632d78;
    --accent: #c05ab1;
    --green: #00b069;
    --font-secular: 'Secular One', sans-serif;
}

body {

}

body {
    background: var(--background);
    font-family: 'Secular One', serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Secular One', serif;
    font-weight: 700;
}

html {
    font-size: 100%;
}

/* 16px */

h1 {
    font-size: 5.652rem; /* 90.4px */
}

h2 {
    font-size: 3.997rem; /* 64px */
}

h3 {
    font-size: 2.827rem; /* 45.28px */
}

h4 {
    font-size: 1.999rem; /* 32px */
}

h5 {
    font-size: 1.414rem; /* 22.56px */
}

small {
    font-size: 0.707rem; /* 11.36px */
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fade-in 0.5s forwards;
}

.particle-container {
    position: absolute;
    top: 10vh; /* Adjusted top position */
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 20;
}

.particle {
    position: absolute;
    color: rgba(128, 128, 128, 0.3); /* Grayed and transparent */
    opacity: 0;
    animation: float 10s linear infinite;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 0; /* Start invisible */
    }
    25% {
        opacity: 1; /* Fade in */
    }
    75% {
        opacity: 1; /* Keep visible */
    }
    100% {
        transform: translateY(-100vh) translateX(25vw);
        opacity: 0; /* Fade out and move */
    }
}